In [5]:
import pandas as pd
from sklearn.impute import SimpleImputer, KNNImputer

In [17]:
df = pd.read_csv("flights.csv")
print(df.shape)
df.head()

(144, 3)

   year     month  passengers
0  1949   January       112.0
1  1949  February       118.0
2  1949     March       132.0
3  1949     April       129.0
4  1949       May       121.0

In [11]:
df.isnull().sum()

year          0
month         0
passengers    5
dtype: int64

In [12]:
df1 = df.copy()

imputer = SimpleImputer(strategy="mean")
df1["passengers"] = imputer.fit_transform(df1[["passengers"]])
df1.isnull().sum()

year          0
month         0
passengers    0
dtype: int64

In [13]:
df2 = df.copy()

imputer1 = KNNImputer(n_neighbors=3)
df2["passengers"] = imputer.fit_transform(df2[["passengers"]])
df2.isnull().sum()

year          0
month         0
passengers    0
dtype: int64

In [15]:
df3 = df.copy()
df_ffill = df3.fillna(method="ffill")
df_ffill.isnull().sum()

C:\Users\varun\AppData\Local\Temp\ipykernel_18784\656099099.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df3.fillna(method="ffill")

year          0
month         0
passengers    0
dtype: int64

In [16]:
df4 = df.copy()
df_bfill = df4.fillna(method="bfill")
df_bfill.isnull().sum()

C:\Users\varun\AppData\Local\Temp\ipykernel_18784\3805240843.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df4.fillna(method="bfill")

year          0
month         0
passengers    0
dtype: int64

In [19]:
df5 = df.copy()

df_drop = df5.dropna()
df_drop.shape

(139, 3)